{
  "ConnectionDefinition": [
    {
      "connectionType": "API Token", // Anthropic Native
      "apiKey": ""
    },
    {
      "connectionType": "Amazon Bedrock (AWS Credentials)",
      "accessKey": "",
      "secretKey": "",
      "region": ""
    },
    {
      "connectionType": "Amazon Bedrock (API Key)",
      "apiKey": "",
      "region": ""
    }
  ],
  "TestFolder": "C:\\Users\\..."
}